# Application Configuration
APP_SECRET={{APP_SECRET}}

# Superuser (used for init.sql)
POSTGRES_USER=postgres
POSTGRES_PASSWORD={{POSTGRES_SUPERUSER_PASSWORD}}

# App DB user connections
APP_DB_USER=archon
APP_DB_PASSWORD={{ADMIN_PASSWORD}}
DATABASE_URL=postgres://archon:{{ADMIN_PASSWORD}}@postgres:5432/{{APP_NAME}}
WRITE_DATABASE_URL=postgres://tinkerer:{{API_PASSWORD}}@postgres:5432/{{APP_NAME}}
READ_DATABASE_URL=postgres://lorekeeper:{{READONLY_PASSWORD}}@postgres:5432/{{APP_NAME}}
ORIGIN=http://localhost:{{PORT}}

# Redis access
REDIS_USER=default
REDIS_URL=redis://tinkerer:{{API_USER_REDIS_PASSWORD}}@redis:6379
REDIS_PASSWORD={{REDIS_PASSWORD}}

# PostgreSQL volume path
PGDATA=/var/lib/postgresql/data/pgdata