# Application Configuration
APP_SECRET={{APP_SECRET}}

# Superuser (used for init.sql)
POSTGRES_USER=postgres
POSTGRES_PASSWORD={{POSTGRES_SUPERUSER_PASSWORD}}

# App DB user connections
APP_DB_USER=archon
APP_DB_PASSWORD={{ADMIN_PASSWORD}}
DATABASE_URL=postgres://archon:{{ADMIN_PASSWORD}}@{{APP_NAME}}.db.{{ENV}}:5432/{{APP_NAME}}
WRITE_DATABASE_URL=postgres://tinkerer:{{API_PASSWORD}}@{{APP_NAME}}.db.{{ENV}}:5432/{{APP_NAME}}
READ_DATABASE_URL=postgres://lorekeeper:{{READONLY_PASSWORD}}@{{APP_NAME}}.db.{{ENV}}:5432/{{APP_NAME}}
ORIGIN=http://localhost:{{PORT}}

# Redis access
REDIS_USER=default
REDIS_URL=redis://:{{REDIS_PASSWORD}}@{{APP_NAME}}.redis.{{ENV}}:6379
REDIS_PASSWORD={{REDIS_PASSWORD}}

# PostgreSQL volume path
PGDATA=/var/lib/postgresql/data/pgdata

# # Database Role Passwords (for reference)
# ADMIN_PASSWORD={{ADMIN_PASSWORD}}
# DEVELOPER_PASSWORD={{DEVELOPER_PASSWORD}}
# API_PASSWORD={{API_PASSWORD}}
# READONLY_PASSWORD={{READONLY_PASSWORD}}
# BACKUP_PASSWORD={{BACKUP_PASSWORD}}
# AUDITOR_PASSWORD={{AUDITOR_PASSWORD}}

# # Redis User Passwords (for reference)
# ADMIN_USER_REDIS_PASSWORD={{ADMIN_USER_REDIS_PASSWORD}}
# DEVELOPER_USER_REDIS_PASSWORD={{DEVELOPER_USER_REDIS_PASSWORD}}
# API_USER_REDIS_PASSWORD={{API_USER_REDIS_PASSWORD}}
# READONLY_USER_REDIS_PASSWORD={{READONLY_USER_REDIS_PASSWORD}}
# BACKUP_USER_REDIS_PASSWORD={{BACKUP_USER_REDIS_PASSWORD}}
# AUDITOR_USER_REDIS_PASSWORD={{AUDITOR_USER_REDIS_PASSWORD}}